.stats {
  display: flex;
  /* gap: 10px; */
  justify-content: space-around;
  list-style: none;
  padding: 0px 5px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #c4c4c4;

  border-radius: 5px;
}

.statEl {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  width: 85px;
  gap: 8px;
}

.statEl:not(:last-child) {
  border-right: 1px solid #c4c4c4;
}

.profile {
  background-color: rgb(234, 234, 234);
  padding: 20px;
  box-shadow: 5px 5px 5px #adadad;
  border-radius: 15px;
  text-align: center;
  line-height: 1em;
}

.avatar {
  width: 200px;
  /* border: 1px solid black; */
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #e1e1e1;
}

.name {
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
}

.tag {
  margin-top: 5px;
  margin-bottom: 8px;

  color: #525252;
}

.location {
  margin-top: 5px;
  color: #525252;
}

.label {
  color: #525252;
  font-weight: 500;

  font-size: 14px;
}

.quantity {
  font-size: 20px;
}
